.brand {
  margin-top: 50px;
}
.brand-title {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  width: 80%;
  max-width: 280px;
  margin: 0 auto;
}
.brand-title-bg {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: -1;
  width: 257.86px;
  height: 187.08px;
}
.brand-title > h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding: 0 10px;
  color: #000000;
}
.brand-info {
  position: relative;
  margin-top: 50px;
  height: 300px;
}
.swiper-brand {
  padding-bottom: 60px !important;
}
.message-box {
  width: 239px;
  height: 215px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.message-box > h3 {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.message-box > p {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #535353;
}
.message-box > button {
  width: 196px;
  height: 36px;
  margin: 0 auto;
  background: #ededed;
  border-radius: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.message-box > button > a {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}
.swiper-brand > .swiper-button-prev,
.swiper-brand > .swiper-button-next {
  top: calc(50% + 15px);
  width: 13px;
  height: 22px;
  color: #9bc3bf;
}
.swiper-brand > .swiper-button-prev::after,
.swiper-brand > .swiper-button-next::after {
  font-size: 35px;
  font-weight: 900;
}
.swiper-brand > .swiper-button-prev {
  left: 10%;
}
.swiper-brand > .swiper-button-next {
  right: 10%;
}
.swiper-brand > .swiper-pagination {
  bottom: 10px;
}
.swiper-brand > .swiper-pagination > .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background: rgba(214, 116, 72, 0.5);
  margin: 0 10px !important;
  opacity: 1;
}
.swiper-brand
  > .swiper-pagination
  > .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #d67448;
}

@media screen and (min-width: 768px) {
  .brand {
    margin-top: 100px;
  }
  .brand-title {
    max-width: 70%;
  }
  .brand-title > h2 {
    font-size: 26px;
    line-height: 30px;
  }
  .brand-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    height: 350px;
  }
  .brand-info > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }
  .message-desktop {
    width: 180px;
    height: 280px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .message-desktop > h3 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-transform: uppercase;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .message-desktop > p {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #535353;
  }
  .message-desktop > button {
    width: 150px;
    height: 52px;
    margin: 0 auto;
    background: #ededed;
    border-radius: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  .message-desktop > button > a {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1024px) {
  .brand {
    margin-top: 150px;
  }
  .brand-title {
    max-width: 70%;
  }
  .brand-title > h2 {
    font-size: 32px;
    line-height: 36px;
  }
  .brand-info {
    margin-top: 50px;
    height: 390px;
  }
  .message-desktop {
    width: 255px;
    height: 269px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .message-desktop > h3 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
  }
  .message-desktop > p {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #535353;
  }
  .message-desktop > button {
    width: 231px;
    height: 52px;
    margin: 0 auto;
    background: #ededed;
    border-radius: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
  }
}
