.home-proyects {
  margin-top: 50px;
}
.home-proyects-title > h2 {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
.home-proyects-info {
  margin-top: 50px;
}
.home-proyects-carousel {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 323px;
  height: 287px;
}
.home-proyects-carousel > :nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}
.carousel-proyects {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.carousel-proyects > h3 {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.carousel-proyects > p {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #535353;
  margin: 20px 0;
}
.carousel-proyects > a {
  display: block;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #888888;
  cursor: pointer;
}
.swiper-proyects > .swiper-button-prev,
.swiper-proyects > .swiper-button-next {
  top: calc(50% + 15px);
  width: 13px;
  height: 22px;
  color: #9bc3bf;
}
.swiper-proyects > .swiper-button-prev::after,
.swiper-proyects > .swiper-button-next::after {
  font-size: 35px;
  font-weight: 900;
}
.swiper-proyects > .swiper-button-prev {
  left: 15%;
}
.swiper-proyects > .swiper-button-next {
  right: 15%;
}
.swiper-proyects > .swiper-pagination {
  bottom: 40px;
}
.swiper-proyects > .swiper-pagination > .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background: rgba(214, 116, 72, 0.5);
  margin: 0 10px;
  opacity: 1;
}
.swiper-proyects
  > .swiper-pagination
  > .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #d67448;
}

@media screen and (min-width: 768px) {
  .home-proyects {
    margin-top: 100px;
  }
  .home-proyects-title > h2 {
    font-size: 26px;
    line-height: 30px;
  }
  .home-proyects-carousel {
    width: 100%;
  }
  .home-proyects-carousel > .carousel-proyects {
    padding: 0 30px;
    opacity: 0.7;
  }
  .swiper-proyects {
    margin-top: 75px;
    padding-bottom: 30px;
  }
  .swiper-slide.swiper-slide-next.proyects-slide {
    margin-top: 30px;
    overflow: visible;
  }
  .swiper-slide.swiper-slide-next.proyects-slide > .home-proyects-carousel {
    width: 100%;
    background-image: url("../../Assets/home-proyects-bg-lg.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .swiper-slide.swiper-slide-next.proyects-slide
    > .home-proyects-carousel
    > .carousel-proyects {
    top: 70px;
    padding: 0 30px;
    opacity: 1;
  }
  .swiper-proyects > .swiper-button-prev {
    left: 25%;
  }
  .swiper-proyects > .swiper-button-next {
    right: 25%;
  }
  .swiper-proyects > .swiper-pagination {
    bottom: 10px;
  }
  .swiper-proyects > .swiper-pagination > .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    background: #d9d9d9;
    margin: 0 10px;
    opacity: 1;
  }
  .swiper-proyects
    > .swiper-pagination
    > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #a2a2a2;
  }
}

@media screen and (min-width: 1024px) {
  .home-proyects {
    margin-top: 150px;
  }
  .home-proyects-title > h2 {
    font-size: 32px;
    line-height: 36px;
  }
  .home-proyects-info {
    margin-top: 100px;
    width: 80%;
    margin: 0 auto;
  }
  .swiper-proyects {
    padding-bottom: 50px;
  }
  .home-proyects-carousel > .carousel-proyects > h3 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-proyects-carousel > .carousel-proyects > p {
    font-size: 16px;
    line-height: 20px;
  }
  .home-proyects-carousel > .carousel-proyects > a {
    font-size: 16px;
    line-height: 20px;
  }
}
