@font-face {
  font-family: 'SF UI Display';
  src: url('./Fonts/SFUI/sf-ui-display-medium-58646be638f96.otf');
}
@font-face {
  font-family: 'SF Pro Display Medium';
  src: url('./Fonts/SFPro/OpenType/SF-Pro-Display-Medium.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'SF Pro Display Medium', -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

